.airline:before
  content: ''
  font-size: 16px
  height: 16px
  width: 16px
  display: inline-block
  margin-right: 5px
  text-align: center
  background-color: #fff
  background-size: 16px 16px
  background-repeat: no-repeat

.airberlin:before
  background-image: url('http://www.airberlin.com/favicon.ico')

.elal:before
  background-image: url('http://www.elal.com/_layouts/15/images/Matrix.Elal.com/fabicon.png')

.metrojet:before
  content: '?'

.s7:before
  background-image: url('http://www.s7.ru/favicons/favicon-16x16.png')

.swissair:before
  background-image: url('http://www.swissair.com/img/favicons/favicon-64x64.png')

.transaero:before
  background-image: url('http://www.transaero.ru/wps/themes/html/TransaeroTheme/images/favicon.ico')

.ural:before
  content: '?'

.utair:before
  background-image: url('http://www.utair.ru/images/favicon.ico')

.uz:before
  background-image: url('http://www.uzairways.com/sites/default/files/favicon_0.ico')

.vimavia:before
  background-image: url('http://www.vim-avia.com/favicon.ico')

.yamal:before
  background-image: url('http://yamal.aero/favicon.ico')


