/* line 1, ../../sources/css/airlines.sass */
.airline:before {
  content: "";
  font-size: 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  background-color: #fff;
  background-size: 16px 16px;
  background-repeat: no-repeat; }

/* line 13, ../../sources/css/airlines.sass */
.airberlin:before {
  background-image: url("http://www.airberlin.com/favicon.ico"); }

/* line 16, ../../sources/css/airlines.sass */
.elal:before {
  background-image: url("http://www.elal.com/_layouts/15/images/Matrix.Elal.com/fabicon.png"); }

/* line 19, ../../sources/css/airlines.sass */
.metrojet:before {
  content: "?"; }

/* line 22, ../../sources/css/airlines.sass */
.s7:before {
  background-image: url("http://www.s7.ru/favicons/favicon-16x16.png"); }

/* line 25, ../../sources/css/airlines.sass */
.swissair:before {
  background-image: url("http://www.swissair.com/img/favicons/favicon-64x64.png"); }

/* line 28, ../../sources/css/airlines.sass */
.transaero:before {
  background-image: url("http://www.transaero.ru/wps/themes/html/TransaeroTheme/images/favicon.ico"); }

/* line 31, ../../sources/css/airlines.sass */
.ural:before {
  content: "?"; }

/* line 34, ../../sources/css/airlines.sass */
.utair:before {
  background-image: url("http://www.utair.ru/images/favicon.ico"); }

/* line 37, ../../sources/css/airlines.sass */
.uz:before {
  background-image: url("http://www.uzairways.com/sites/default/files/favicon_0.ico"); }

/* line 40, ../../sources/css/airlines.sass */
.vimavia:before {
  background-image: url("http://www.vim-avia.com/favicon.ico"); }

/* line 43, ../../sources/css/airlines.sass */
.yamal:before {
  background-image: url("http://yamal.aero/favicon.ico"); }
